<aside class="logo">

	{% if page.url == '/index.html' or page.url == '/' %}
		{% assign link = '/about' %}
		{% assign prompt = 'Обо мне' %}
	{% else %}
		{% assign link = '/' %}
		{% assign prompt = 'На главную' %}
	{% endif %}

	<a href="{{ link | prepend: site.baseurl }}">
		<img src="{{ site.baseurl }}{{ site.author_gravatar }}?s=80" class="gravatar" width="80" height="80">
	</a>
	<span class="logo-prompt">{{ prompt }}</span>
	
	<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P8G3B43"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
</aside>
